*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  background: url('https://i.imgur.com/yDE7Age.jpg') no-repeat center center / cover;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px;
}
img{
  max-width: 100%;
}
.wrapper {
  position: absolute;
  left:0;top:0;right:0;bottom:0;
  /* border: 2px solid red; */
  height: 360px;
  width: 600px;  
  margin: auto;
}
.profile-card{
  position: absolute;
  left:0;top:0;right:0;bottom:0;
  margin: auto;
  height: 360px;
  width: 600px;
  background-color: rgb(45,45,45);
  color: rgb(255,255,255);
  -webkit-perspective: 100%;
          perspective: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg) rotateY(9deg) rotateZ(-20deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transition: all .5s ease-in;
          transition: all .5s ease-in;
}
.profile-card header{
  position: absolute;
  width: inherit;
  background-color: rgb(45,45,45);
  text-align: right;
  z-index: -1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.profile-card header:before,
.profile-card header:after{
  background-color: rgb(35,35,35);
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: 0 100% 0;
      -ms-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
}
.profile-card header:after{
  height: 100%;
  width: 10px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
.profile-card header>a{
  display: block;
  background-color: rgba(0,0,0, .2);
  width: 100%;
  height: 83.333px;
}
.profile-card header>a>img{
  margin: 10px;
  height: 63.333px;
  width: 63.333px;
}
.profile-card  h1{
  padding: 8px 20px 0;
  font-size: 32px;
  font-weight: 300;
}
.profile-card h2{
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(255,255,255, .5);
  padding: 0 20px;
}
.profile-card .profile-bio{
  margin: 170px 0 0 90px;
  padding: 10px 20px;
  line-height:1.5em;
  /* text-align: right; */
}
.profile-card .profile-social-links{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 240px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.profile-card .profile-social-links li{
  display: block;
  height: 60px;
  width: 60px;
  list-style: none;
  background-color: rgb(130,181,64);
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  -webkit-transition: all .4s;
          transition: all .4s;
}
.profile-card .profile-social-links li:before,
.profile-card .profile-social-links li:after{
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 10px;
  background-color: rgb(120,171,54);
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.profile-card .profile-social-links li:after{
  height: 10px;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.profile-card .profile-social-links li:hover{
  -webkit-transform: translateZ(9px);
          transform: translateZ(9px);
}
.profile-card .profile-social-links li:first-child{
  background-color: rgb(42,169,224);
}
.profile-card .profile-social-links li:first-child:before,
.profile-card .profile-social-links li:first-child:after{
  background-color: rgb(32,159,214);
}
.profile-card .profile-social-links li:last-child{
  background-color: rgb(243,122,41);
}
.profile-card .profile-social-links li:last-child:before,
.profile-card .profile-social-links li:last-child:after{
  background-color: rgb(233,112,31);
}
.profile-card .profile-social-links li a{
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
  -webkit-transition: all .3s;
          transition: all .3s;
  font-size: 28px;
  line-height: 45px;
  text-decoration: none;
  color: rgb(45,45,45);
}
.profile-card .profile-social-links li:hover a{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
#linkedin {
  background-color: #67a0d0;
}
#stackoverflow {
  background-color: #ecae3f;
}
#github {
  background-color: #afb1ad;
}
#codepen {
  background-color: #6b6a6a;
}
#blog {
  background-color: #9caf2c;
}
#email {
  background-color: #23a09f;
}
